html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

button {
    border-radius: 5px;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

img {
    max-width: 100%;
    height: auto;
}


* {
    box-sizing: border-box;
}


/* The main container for the layout */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the layout takes up the full viewport height */
}

/* Ensure the footer sticks to the bottom when there's little content */
main {
    flex-grow: 1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
    color: #555;
}