.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;

}

.columns {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;

}

.logoColumn {
    display: flex;
    align-items: center;
}

 .navLinksColumn, .contactColumn {
    text-align: center;
}

.logoBackground {
    background-color: #0F3A61;
    display: inline-block;
    flex : 1;
    margin-right: 10px; /* Space between logo and text */

}

.logo {
    width: 200px; /* Adjust size as needed */
    height: auto;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    font-size: 24px;
    color: #0F3A61;
    letter-spacing: 0.2em;
    font-family: 'Lulo Clean', sans-serif;
    text-align: center;
    flex : 1;

}

.navLinks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navItem {
    display: inline;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navItem {
    margin-left: 40px;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px; /* Increase the font size */
    padding: 10px; /* Optional: Add padding to make the clickable area larger */
}


.navLink:hover {
    color: #ff5733;
}

.contactColumn {
    text-align: right;
}

.contactButton {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0F3A61;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contactIcon {
    margin-left: 8px;
    fill: white;
}

.contactInfo {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.emailLink {
    color: #555;
    text-decoration: underline;
}

.emailLink:hover {
    color: #0F3A61;
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }

    .contactColumn {
        text-align: center;
        margin-top: 20px;
    }

    .logoColumn {
        margin-bottom: 20px;
    }
}

.navLinksColumn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}